<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="master/master-admin :: master-head">
</head>

<body>
<div id="app">
  <div th:replace="master/master-admin :: master-side-bar"></div>

  <div id="main">
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>

    <div class="page-heading">
      <h3>Create a new product</h3>
    </div>
    <div class="page-content">
      <section class="row">
        <div class="col-12 col-lg-9">
          <section class="section">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Product</h4>
              </div>

              <form method="post" th:action="@{/admin/adminAddNewProduct}" th:object="${product}" enctype="multipart/form-data">
               <div class="card-body">
                <div class="row">
                  <div class="col-md-6">

                  </div>

                  <div class="col-md-6">
                  </div>

                  <div class="form-group">
                    <label for="basicInput">Product name <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="basicInput" placeholder="Product Name" th:field="*{productName}">
                  </div>

                  <div class="form-group">
                    <label for="helpInputTop">Product category <span style="color: red;">*</span></label>
                    <select class="form-select form-control" aria-label="Default select example" id="helpInputTop" th:field="*{productCategory}">
                      <option selected value="00" disabled>Select Category</option>
                      <option th:each=" category : ${categoryList}" th:value="${category.getCategoryId()}" th:text="${category.getCategoryName()}"></option>
                    </select>
                  </div>

                  <div class="input-group mb-3">
                    <label>Product image <span style="color: red;">*</span></label>
                    <div class="input-group mb-3">
                      <label class="input-group-text" for="inputGroupFile01"><i
                              class="bi bi-upload"></i></label>
                      <input type="file" class="form-control" id="inputGroupFile01" th:field="*{multipartFile}">
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Products in stock <span style="color: red;">*</span></label>
                    <input type="number" class="form-control" th:field="*{productQuantity}">
                  </div>
                  <div class="form-group">
                    <label>Product original price <span style="color: red;">*</span></label>
                    <div class="col-sm-6 mb-1">
                      <div class="input-group mb-3">
                        <span class="input-group-text">R</span>
                        <input type="text" class="form-control"
                               aria-label="Dollar amount (with dot and two decimal places)" th:field="*{productPrice}">
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label>Is this item on sale? <span style="color: red;">*</span></label>
                    <div class="form-control">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="isOnSale" th:field="*{onSale}" th:value="${true}">
                        <label class="form-check-label">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="isOnSale" th:field="*{onSale}" th:value="${false}"
                               checked>
                        <label class="form-check-label">
                          No
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Product new discounted price</label>
                    <div class="col-sm-6 mb-1">
                      <div class="input-group mb-3">
                        <span class="input-group-text">R</span>
                        <input type="text" class="form-control"
                               aria-label="Dollar amount (with dot and two decimal places)" th:field="*{productDiscountedPrice}">
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label>Is this item active? <span style="color: red;">*</span></label>
                    <div class="form-control">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="isActive" th:field="*{active}" th:value="${true}">
                        <label class="form-check-label">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="isActive" th:field="*{active}" th:value="${false}"
                               checked>
                        <label class="form-check-label">
                          No
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="helperText">Product description <span style="color: red;">*</span></label>
                    <textarea class="form-control" id="helperText" th:field="*{productDescription}"></textarea>
                    <p><small class="text-muted">Detailed information about the product.</small></p>
                  </div>

                  <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Add new product">
                  </div>
                </div>
              </div>
              </form>
            </div>
          </section>
        </div>
        <div class="col-12 col-lg-3">
        </div>
      </section>
    </div>

    <footer th:replace="master/master-admin :: master-footer"></footer>
  </div>
</div>
<div th:replace="master/master-admin :: master-scripts"></div>
</body>

</html>
