<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="master/master-admin :: master-head">
</head>

<body>
<div id="app">
    <div th:replace="master/master-admin :: master-side-bar"></div>

    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <h3 th:text="${product.getProductName()}"></h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <img th:src="|data:image/png;base64,${product.getProductImgStr()}|" alt="Card image cap"
                             style="height: 20rem" />
                        <div class="card-body">
                            <h4 class="card-title" th:text="${product.getProductName()}"></h4>
                            <p class="card-text">
                                <span class="text-black h4"> Is this product active? </span>
                                <span th:if="${product.isActive()}">
                                    <span class="h2">Yes</span>
                                </span>
                                <span th:unless="${product.isActive()}">
                                    <span class="h2 text-danger">No</span>
                                </span>
                            </p>
                            <p class="card-text">
                                <span class="text-black h4">Original Price: R</span>
                                <span class="h3" th:text="${product.getProductPrice()}"></span>
                            </p>
                            <p class="card-text" th:if="${product.isOnSale()}">
                                <span class="text-black h4">Is this product on sale? Yes, </span>
                                <span class="text-black h4">Discounted price: R </span>
                                <span th:text="${product.getProductDiscountedPrice()}" class="h3"></span>
                            </p>
                            <p class="card-text" th:unless="${product.isOnSale()}">
                                <span class="text-black h4">Is this product on sale? No, </span>
                                <span class="text-black h4">Discounted price: R 0.00</span>
                            </p>
                            <p class="card-text">
                                <span class="text-black h4">Items in stock: </span>
                                <span th:text="${product.getProductQuantity()}" class="h3"></span>
                            </p>
                            <p class="card-text">
                                <span class="text-black h4">Category: </span>
                                <span th:text="${product.getProductCategory().getCategoryName()}" class="h3"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <p class="card-text" th:utext="${product.getProductDescription()}"></p>

                            <div class="row">
                                <div class="col-6">
                                    <a th:href="@{/admin/edit/product(product=${product.getProductName()})}" class="btn btn-primary">Edit</a>
                                    <br>
                                </div>
                                <div class="col-6">
                                    <a th:href="@{/}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="master/master-admin :: master-footer"></footer>
    </div>
</div>
<div th:replace="master/master-admin :: master-scripts"></div>
</body>

</html>
