<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="master/master-admin :: master-head">
</head>

<body>
<div id="app">
  <div th:replace="master/master-admin :: master-side-bar"></div>

  <div id="main">
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>

    <div class="page-heading">
      <h3>Create a new category</h3>
    </div>
    <div class="page-content">
      <section class="row">
        <div class="col-12 col-lg-9">
          <section class="section">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Category</h4>
              </div>

              <form method="post" th:action="@{/admin/adminAddCategory}" th:object="${productCategory}" enctype="multipart/form-data">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                      <div class="form-group">
                          <label for="helperText">Category Name<span style="color: red;">*</span></label>
                          <input type="text" id="helperText" class="form-control" th:field="*{categoryName}" placeholder="Category Name" required>
                          <p><small class="text-muted">Enter the name of a new category.</small></p>
                      </div>
                    <div class="input-group mb-3">
                      <label>Category image <span style="color: red;">*</span></label>
                      <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupFile01"><i
                                class="bi bi-upload"></i></label>
                        <input type="file" class="form-control" id="inputGroupFile01" th:field="*{multipartFile}">
                      </div>
                    </div>
                      <div class="form-group">
                          <label for="helpInputTop">Category Description</label>
                          <small class="text-muted">A small description (Optional)</i></small>
                          <textarea class="form-control" id="helpInputTop" th:field="*{categoryDescription}"></textarea>
                      </div>
                      <div class="form-group">
                          <small class="text-muted">All inputs marked with<span style="color: red;"> * </span> must be filled</small>
                          <input type="submit" class="form-control btn btn-primary" value="Add new category">
                      </div>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
        <div class="col-12 col-lg-3">
        </div>
      </section>
    </div>

    <footer th:replace="master/master-admin :: master-footer"></footer>
  </div>
</div>
<div th:replace="master/master-admin :: master-scripts"></div>
</body>

</html>
