<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master-page :: master-header">
</head>
<body>

<div th:replace="master/master-page :: master-nav"></div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="product-content-right" th:if="${notEmptyCart}">
                    <div class="woocommerce">
                        <form method="post" th:action="@{/updateQty}">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="cart_item" th:each="cartItem : ${cartItems}">
                                    <td class="product-remove">
                                        <a title="Remove this item" class="remove" th:href="@{/removeCartItem(cartItem=${cartItem.getId()})}">×</a>
                                    </td>

                                    <td class="product-thumbnail">
                                        <a th:href="@{/product(product=${cartItem.getProduct().getProductName()})}"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" th:src="|data:image/png;base64,${cartItem.getProduct().getProductImgStr()}|"></a>
                                    </td>

                                    <td class="product-name">
                                        <a th:href="@{/product(product=${cartItem.getProduct().getProductName()})}" th:text="${cartItem.getProduct().getProductName()}"></a>
                                        <small class="alert alert-danger" th:if="${cartItem.getProduct().getProductQuantity() <= 0}">Product out of stock</small>
                                        <small class="alert alert-danger" th:if="${!cartItem.getProduct().isActive()}">Product is no longer available</small>
                                    </td>

                                    <td class="product-price">
                                        <span th:if="${cartItem.getProduct().isOnSale()}">
                                            R<span class="amount" th:text="${cartItem.getProduct().getProductDiscountedPrice()}"></span>
                                        </span>
                                        <span th:unless="${cartItem.getProduct().isOnSale()}">
                                            R<span class="amount" th:text="${cartItem.getProduct().getProductPrice()}"></span>
                                        </span>
                                    </td>

                                    <td class="product-quantity">
                                        <div class="quantity buttons_added">
<!--                                            <input type="button" class="minus" value="-">-->
                                            <input type="number" size="4" class="input-text qty text" id="updateQty" title="Qty" th:value="${cartItem.getQty()}" min="0" step="1" name="qty">
<!--                                            <input type="button" class="plus" value="+">-->
                                            <input type="hidden" name="product" th:value="${cartItem.getProduct().getProductName()}">
                                            <input type="hidden" name="cartItem" th:value="${cartItem.getId()}">
                                            <button style="display: none;"
                                                    id="update-item-" type="submit"
                                                    class="btn btn-warning btn-xs">Update</button>
                                        </div>
                                    </td>

                                    <td class="product-subtotal">
                                        R<span class="amount" th:text="${cartItem.getSubTotal()}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="actions" colspan="6">
<!--                                        <div class="coupon" >-->
<!--                                            <label for="coupon_code">Coupon:</label>-->
<!--                                            <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code">-->
<!--                                            <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">-->
<!--                                        </div>-->
<!--                                        <input type="submit" value="Update Cart" name="update_cart" class="button">-->
                                        <div th:if="${errors}">
                                            <a th:href="@{/checkout}" class="checkout-button button alt wc-forward btn btn-primary" disabled>Checkout</a>
                                        </div>
                                        <div th:unless="${errors}">
                                            <a th:href="@{/checkout}" class="checkout-button button alt wc-forward btn btn-primary" >Checkout</a>
                                        </div>
<!--                                        <input type="submit" value="Checkout" name="proceed" class="">-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>

                        <div class="cart-collaterals" th:if="${errors}">
                            <span class="alert alert-danger">
                                Checkout is currently disabled until you fix your shopping cart
                            </span>
                        </div>
                        <br>
                        <div th:if="${lowStock}" class="mb-3 mt-3">
                            <span class="alert alert-danger">
                                <span th:text="${productName}"></span><br> does not have enough stock
                            </span>
                        </div>

                        <div class="cart-collaterals" th:unless="${errors}">

                            <div class="cart_totals ">
                                <h2>Cart Totals</h2>

                                <table cellspacing="0">
                                    <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Cart Subtotal</th>
                                        <td>R<span class="amount" th:text="${shoppingCart.getGrandTotal()}"></span></td>
                                    </tr>

                                    <tr class="shipping">
                                        <th>Shipping and Handling</th>
                                        <td>R100, Flat rate</td>
                                    </tr>

                                    <tr>
                                        <th>Tax</th>
                                        <td><span class="amount">R<span th:text="${#numbers.formatDecimal((user.getShoppingCart().getGrandTotal() + 100) * 0.15,0,2)}"></span></span></td>
                                    </tr>

                                    <tr class="order-total">
                                        <th>Order Total (incl tax)</th>
                                        <td><strong><span class="amount">R<span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal() + 100 + (shoppingCart.getGrandTotal() + 100) * 0.15,0,2)}"></span></span></strong> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-content-right" th:unless="${notEmptyCart}">
                    <h2 class="alert-info alert-danger">Your cart is currently empty</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="master/master-page :: master-footer"></div>
<div th:replace="master/master-page :: master-scripts"></div>

</body>
</html>
