<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master-page :: master-header">
</head>
<body>

<div th:replace="master/master-page :: master-nav"></div>


<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="product-content-right">
          <div class="woocommerce">
            <div class="woocommerce-info">Have a coupon? <a class="showcoupon" data-toggle="collapse" href="#coupon-collapse-wrap" aria-expanded="false" aria-controls="coupon-collapse-wrap">Click here to enter your code</a>
            </div>

            <form id="coupon-collapse-wrap" method="post" class="checkout_coupon collapse">

              <p class="form-row form-row-first">
                <input type="text" value="" id="coupon_code" placeholder="Coupon code" class="input-text" name="coupon_code">
              </p>

              <p class="form-row form-row-last">
                <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
              </p>

              <div class="clear"></div>
            </form>

            <form enctype="multipart/form-data" th:action="@{/createOrder}" class="checkout" method="post" name="checkout">

              <div id="customer_details" class="col2-set">
                <div class="col-1">
                  <div class="woocommerce-billing-fields">
                    <h3>Shipping Address</h3>
                    <table class="table" th:if="${not #lists.isEmpty(shippingAddresses)}">
                      <thead>
                        <tr>
                          <th>Available Shipping Address</th>
                          <th>Operations</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="shippingAddress : ${shippingAddresses}">
                          <td th:text="${shippingAddress.getUserShippingStreet1() + ', ' + shippingAddress.getUserShippingCity() + ', ' + shippingAddress.getUserShippingProvince() }"></td>
                          <td><a th:href="@{/setShippingAddress(addressId=${shippingAddress.getUserShippingAddressId()})}">Use this address</a></td>
                        </tr>
                      </tbody>
                    </table>
                    <p id="billing_country_field" class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated">
                      <label class="" for="billing_country">Province <abbr title="required" class="required">*</abbr>
                      </label>
                      <select class="country_to_state country_select" id="billing_country" name="userShippingProvince" th:value="${shippingAddress.userShippingProvince}">
                        <option value="" disabled>Select a province…</option>
                        <option th:each="province : ${provinces}" th:selected="(${shippingAddress.userShippingProvince}==${province})" th:text="${province}">Åland Islands</option>
                      </select>
                    </p>

                    <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                      <label class="" for="billing_first_name">First Name <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" th:value="${shippingAddress.userShippingName}" placeholder="" id="billing_first_name" name="userShippingName" class="input-text ">
                    </p>

                    <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                      <label class="" for="billing_address_1">Address <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" th:value="${shippingAddress.userShippingStreet1}" placeholder="Street address" id="billing_address_1" name="userShippingStreet1" class="input-text ">
                    </p>

                    <p id="billing_address_2_field" class="form-row form-row-wide address-field">
                      <input type="text" th:value="${shippingAddress.userShippingStreet2}" placeholder="Apartment, suite, unit etc. (optional)" id="billing_address_2" name="userShippingStreet2" class="input-text ">
                    </p>

                    <p id="billing_city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
                      <label class="" for="billing_city">Town / City <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" th:value="${shippingAddress.userShippingCity}" placeholder="Town / City" id="billing_city" name="userShippingCity" class="input-text ">
                    </p>

                    <p id="billing_postcode_field" class="form-row form-row-last address-field validate-required validate-postcode" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                      <label class="" for="billing_postcode">Postcode <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" th:value="${shippingAddress.userShippingZipCode}" placeholder="Postcode / Zip" id="billing_postcode" name="userShippingZipCode" class="input-text ">
                    </p>
                  </div>
                </div>

                <div class="col-2">
                  <div class="woocommerce-shipping-fields">

                    <h3 id="ship-to-different-address">
                      <label class="checkbox" for="theSameAsShippingAddress">Billing address</label>
                    </h3>
                    <label class="checkbox" for="theSameAsShippingAddress">Same as shipping address</label>
                    <input type="checkbox" value="1" name="sameAsShipping" class="input-checkbox" id="theSameAsShippingAddress">
                    <div class="shipping_address" style="display: block;">
                      <p id="shipping_country_field" class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated">
                        <label class="" for="shipping_country">Province <abbr title="required" class="required">*</abbr>
                        </label>
                        <select class="country_to_state country_select billingAddress" id="shipping_country" name="orderBillingAddressProvince" th:value="${billingAddress.orderBillingAddressProvince}">
                          <option value="">Select a country…</option>
                          <option th:each="province : ${provinces}" th:selected="(${billingAddress.orderBillingAddressProvince}==${province})" th:text="${province}">Åland Islands</option>
                        </select>
                      </p>

                      <p id="shipping_first_name_field" class="form-row form-row-first validate-required billingAddress">
                        <label class="" for="shipping_first_name">First Name <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" th:value="${billingAddress.orderBillingAddressName}" placeholder="" id="shipping_first_name" name="orderBillingAddressName" class="input-text billingAddress">
                      </p>

                      <p id="shipping_address_1_field" class="form-row form-row-wide address-field validate-required">
                        <label class="" for="shipping_address_1">Address <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" th:value="${billingAddress.orderBillingAddressStreet1}" placeholder="Street address" id="shipping_address_1" name="orderBillingAddressStreet1" class="input-text billingAddress">
                      </p>

                      <p id="shipping_address_2_field" class="form-row form-row-wide address-field">
                        <input type="text" th:value="${billingAddress.orderBillingAddressStreet2}" placeholder="Apartment, suite, unit etc. (optional)" id="shipping_address_2" name="orderBillingAddressStreet2" class="input-text billingAddress">
                      </p>

                      <p id="shipping_city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
                        <label class="" for="shipping_city">Town / City <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" th:value="${billingAddress.orderBillingAddressCity}" placeholder="Town / City" id="shipping_city" name="orderBillingAddressCity" class="input-text billingAddress">
                      </p>

                      <p id="shipping_postcode_field" class="form-row form-row-last address-field validate-required validate-postcode" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                        <label class="" for="shipping_postcode">Postcode <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" th:value="${billingAddress.orderBillingAddressZipCode}" placeholder="Postcode / Zip" id="shipping_postcode" name="orderBillingAddressZipCode" class="input-text billingAddress">
                      </p>

                      <div class="clear"></div>


                    </div>

                  </div>

                </div>

              </div>

              <h3 id="order_review_heading">Your order</h3>

              <div id="order_review" style="position: relative;">
                <table class="shop_table">
                  <thead>
                  <tr>
                    <th class="product-name">Product</th>
                    <th class="product-total">Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="cart_item" th:each="cartItem : ${cartItemList}">
                    <td class="product-name">
                      <span th:text="${cartItem.getProduct().getProductName()}"></span> <strong class="product-quantity"> x<span th:text="${cartItem.getQty()}"></span></strong> </td>
                    <td class="product-total">
                      <span class="amount">R<span th:text="${cartItem.getSubTotal()}"></span></span> </td>
                  </tr>
                  </tbody>
                  <tfoot>

                  <tr class="cart-subtotal">
                    <th>Cart Subtotal</th>
                    <td><span class="amount">R<span th:text="${user.getShoppingCart().getGrandTotal()}"></span></span>
                    </td>
                  </tr>

                  <tr class="shipping">
                    <th>Shipping and Handling</th>
                    <td>
                      R100, flat rate
                    </td>
                  </tr>

                  <tr class="shipping">
                    <th>Tax</th>
                    <td><span class="amount">R<span th:text="${#numbers.formatDecimal((user.getShoppingCart().getGrandTotal() + 100) * 0.15,0,2)}"></span></span>
                    </td>
                  </tr>

                  <tr class="order-total">
                    <th>Order Total (incl tax)</th>
                    <td><strong><span class="amount">R<span th:text="${#numbers.formatDecimal(user.getShoppingCart().getGrandTotal() + 100 + (user.getShoppingCart().getGrandTotal() + 100) * 0.15,0,2)}"></span></span></strong> </td>
                  </tr>

                  </tfoot>
                </table>


                <div id="payment">
                  <ul class="payment_methods methods">
                    <li class="payment_method_bacs">
                      <input type="radio" data-order_button_text="" checked="checked" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs">
                      <label for="payment_method_bacs">Direct Bank Transfer </label>
                      <div class="payment_box payment_method_bacs">
                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </li>
                    <li class="payment_method_cheque">
                      <input type="radio" data-order_button_text="" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque">
                      <label for="payment_method_cheque">Cheque Payment </label>
                      <div style="display:none;" class="payment_box payment_method_cheque">
                        <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                      </div>
                    </li>
                    <li class="payment_method_paypal">
                      <input type="radio" data-order_button_text="Proceed to PayPal" value="paypal" name="payment_method" class="input-radio" id="payment_method_paypal">
                      <label for="payment_method_paypal">PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"><a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is PayPal?</a>
                      </label>
                      <div style="display:none;" class="payment_box payment_method_paypal">
                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                      </div>
                    </li>
                  </ul>

                  <div class="form-row place-order">

                    <input type="submit" data-value="Place order" value="Place order" id="place_order" name="woocommerce_checkout_place_order" class="button alt">


                  </div>

                  <div class="clear"></div>

                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="master/master-page :: master-footer"></div>
<div th:replace="master/master-page :: master-scripts"></div>

</body>
</html>
