<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master-page :: master-header">
</head>
<body>

<div th:replace="master/master-page :: master-nav"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Create New Account Here</h1>
      <form method="post" th:object="${user}" th:action="@{/registration}">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" placeholder="First Name" th:field="*{firstName}" >
          <span class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}" >
          <span class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input type="email" class="form-control" placeholder="Email"  th:field="*{email}">
          <span class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password"  th:field="*{password}">
          <span class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password"  th:field="*{passwordConfirm}">
          <span class="alert alert-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
        </div>
        <div class="form-group mb-3">
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in</button>
          <a th:href="@{/login}" class="text-center pull-left">Login </a>
        </div>
      </form>
    </div>
  </div>
</div>

<div th:replace="master/master-page :: master-footer"></div>
<div th:replace="master/master-page :: master-scripts"></div>

</body>
</html>
