<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master-page :: master-header">
</head>
<body>

<div th:replace="master/master-page :: master-nav"></div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="product-content-right">
          <div class="product-breadcroumb">
            <a th:href="@{/}">Home</a>
            <a href="" th:text="${product.getProductCategory().getCategoryName()}"></a>
            <a href="" th:text="${product.getProductName()}"></a>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="product-images">
                <div class="product-main-img">
                  <img th:src="|data:image/png;base64,${product.getProductImgStr()}|" alt="">
                </div>

<!--                <div class="product-gallery">-->
<!--                  <img src="img/product-thumb-1.jpg" alt="">-->
<!--                  <img src="img/product-thumb-2.jpg" alt="">-->
<!--                  <img src="img/product-thumb-3.jpg" alt="">-->
<!--                </div>-->
              </div>
            </div>

            <div class="col-sm-6">
              <div class="product-inner">
                <h2 class="product-name" th:text="${product.getProductName()}"></h2>
                <div class="product-carousel-price">
                  <div th:if="${product.isOnSale()}">
                    <ins> R <span th:text="${product.getProductDiscountedPrice()}"></span> </ins> <del>R <span th:text="${product.getProductPrice()}"></span></del>
                  </div>
                  <div th:unless="${product.isOnSale()}">
                    <ins> R <span th:text="${product.getProductPrice()}"></span></ins>
                  </div>
                </div>

                <form th:action="@{/addToCart}" method="get" class="cart">
                  <div class="quantity">
                    <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="qty" min="1" step="1">
                    <input type="hidden" name="product" th:value="${product.getProductName()}">
                  </div>
                  <button class="add_to_cart_button" type="submit">Add to cart</button>
                </form>

                <div class="product-inner-category">
                  <p>Category: <a th:href="@{/category(category=${product.getProductCategory().getCategoryName()})}" th:text="${product.getProductCategory().getCategoryName()}"></a>. </p>
                </div>

                <div role="tabpanel">
                  <ul class="product-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                      <h2>Product Description</h2>
                      <p th:utext="${product.getProductDescription()}"></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="related-products-wrapper">
            <h2 class="related-products-title">Related Products</h2>
            <div class="related-products-carousel">
              <div class="single-product" th:each="relatedProduct : ${products}">
                <div class="product-f-image">
                  <img th:src="|data:image/png;base64,${relatedProduct.getProductImgStr()}|" alt="">
                  <div class="product-hover">
                    <a th:href="@{/addItem(product=${relatedProduct.getProductName()},page='item')}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                    <a th:href="@{/product(product=${relatedProduct.getProductName()})}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                  </div>
                </div>

                <h2><a th:href="@{/product(product=${relatedProduct.getProductName()})}" th:text="${#strings.abbreviate(relatedProduct.getProductName(),40)}"></a></h2>

                <div class="product-carousel-price">
                  <div th:if="${product.isOnSale()}">
                    <ins> R <span th:text="${relatedProduct.getProductDiscountedPrice()}"></span> </ins> <del>R <span th:text="${relatedProduct.getProductPrice()}"></span></del>
                  </div>
                  <div th:unless="${product.isOnSale()}">
                    <ins> R <span th:text="${relatedProduct.getProductPrice()}"></span></ins>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="master/master-page :: master-footer"></div>
<div th:replace="master/master-page :: master-scripts"></div>

</body>
</html>
